    <div class="container">
        <div class="top_footer">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <ul class="footer_links">
                        <li><b>Try Kleene</b></li>
                        <li><a href="/install/" target="_blank" rel="noopener">Installation</a></li>
                        <li><a href="/get-started/" target="_blank" rel="noopener">Get Started</a></li>
                        <li><a href="/get-started/overview/" target="_blank" rel="noopener">Handbook</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <ul class="footer_links">
                        <li><b>Community</b></li>
                        <li><a href="https://github.com/kleene-project" target="_blank" rel="noopener">GitHub</a></li>
                        <li><a href="https://libera.chat/" target="_blank" rel="noopener">#kleene @ LiberaChat</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <ul class="footer_links">
                        <li><b>Learn FreeBSD</b></li>
                        <li><a href="https://www.freebsd.org/where/" target="_blank" rel="noopener">Get FreeBSD</a></li>
                        <li><a href="https://docs.freebsd.org/en/books/handbook/" target="_blank" rel="noopener">Handbook</a></li>
                        <li><a href="https://man.freebsd.org/cgi/man.cgi" target="_blank" rel="noopener">Manual pages</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">
                    Made with ❤️  by the Kleene community {{ site.time | date: '%Y' }}
                </p>
            </div>
        </div>
    </div>
